/* global */
body.canvasloth-focus { -webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; }

/* Canvasloth container */
.canvasloth        { position:relative; overflow:hidden; }
.canvasloth-active { box-shadow:0 0 5px rgba(128, 128, 255, 0.7); }

/* <canvas> itself */
.canvasloth canvas { position:relative; }

/* pages */
.canvasloth-page    {
	position:absolute; z-index:1; width:100%; height:100%; background:rgba(0,0,0,0.8);
	opacity:0; top:-50px; margin-left:100%;
}
.canvasloth-cross       { position:absolute; z-index:1; top:-32px; right:5px; opacity:0.66; text-decoration:none; }
.canvasloth-cross:after { content:"✕"; color:#fff; font-weight:bold; font-size:24px; }
.canvasloth-cross:hover { opacity:1; }

/* domIntIncrease */
.DomIntIncrease        { font-family:monospace; }
.DomIntIncrease .zeros { opacity:0.33; }
.DomIntIncrease .value { font-weight:bold; }
