/*
	Canvasloth - 1.3
	https://github.com/Mr21/Canvasloth
*/

.canvasloth {
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	}
	.canvasloth-focus {
		outline: solid 2px rgba(77, 144, 254, .75);
		}
	.canvasloth > *,
	.canvasloth-events {
		position: absolute;
		left: 0;
		top: 0;
		}
	.canvasloth-assets {
		z-index: 0;
		width: 0;
		height: 0;
		overflow: hidden;
		}
	.canvasloth canvas {
		z-index: 1;
		width: 100%;
		height: 100%;
		}
	.canvasloth-hud-below,
	.canvasloth-hud-above,
	.canvasloth-events {
		right: 0;
		bottom: 0;
		}
	.canvasloth-hud-below {
		z-index: 2;
		}
	.canvasloth-hud-above {
		z-index: 3;
		}
		.canvasloth-events {
			z-index: 0;
			outline: 0;
			cursor: default;
			}
			.canvasloth-events ~ * {
				position: relative;
				z-index: 1;
				}
